.hero {
  position: relative;
  z-index: 0;
  display: grid;
  overflow: hidden;
  font-size: var(--hero-size);
  font-weight: var(--w-semibold);
  letter-spacing: -0.05em;
  line-height: 1.1;
  text-align: center;
  padding-top: 0.14em;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

.hero > div {
  grid-area: 1 / 1;
}

@media (max-width: 900px) {
  .hero {
    font-size: 12vw;
    padding-top: 0.1em;
  }
}
